.footer {
  padding:0 0 $gutter;
  background: #fff;
  &-wrapper{
    border-top: 1px solid $grey;
    padding-top: $gutter;
  }
  a {
    transition: all 0.3s;
    &:hover {
      color: #000;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      width: 20px;
      height: 20px;
      display: block;
      font-size: 20px;
      margin: 0 10px;
      line-height: 20px;
    }
    svg {
      fill: $textcolor;
      font-size: 20px;
      transition: all 0.3s;
      &:hover {
        fill: #000;
      }
    }
  }
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
